/.github
/bin
/config
/resources
/src
/tests
/vendor
.editorconfig
.gitignore
.phpunit.result.cache
compose.yaml
composer.json
composer.lock
ecs.php
LICENSE
Makefile
php.ini
phpstan.neon
phpunit.xml
README.md
